mat-sidenav {
  background: #eee;
}

mat-slider {
  width: 100%;
}

.sidenav-container {
  height: calc(100% - 64px);
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

#logo {
  display: inline-block;
  background: url('../../assets/img/orugaIcon.png') no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  min-width: 60px;
}

#heading {
  flex: 4;
  padding: 24px 0px 60px 10px;
  height: 60px;
  font-size: 1.8em;
  font-weight: bold;
}

#side-nav-btn {
  position : absolute;
  right: 10px;
  top: 10px;
}

#volumeArea {
  padding: 30px 0px;
}

#userName {
  padding-right: 16px;
  font-weight: bold;
}