<mat-toolbar color="primary">
  <div id="logo"></div>
  <div id="heading">
    <p>OrgaSound</p>
  </div>
  <button id="side-nav-btn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" position="end">
    <span id="userName" *ngIf="(user|async)?.uid">Hello, {{userName}}</span>
    <mat-nav-list>
      <a mat-list-item *ngIf="!(user|async)?.uid" href="#" routerLink="/login">Login</a>
      <a mat-list-item *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
      <a mat-list-item *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a>
    </mat-nav-list>
    <div *ngIf="(user|async)?.uid" id="volumeArea">
      <label>volume:</label>
      <mat-slider [(ngModel)]="slider.value" [min]="slider.min" [max]="slider.max" [value]="slider.value" [step]="slider.step"></mat-slider>
      <!--<input id="volume" class="form-control ng-pristine ng-untouched ng-valid" min="0" max="1" step="0.01" value="0.5"
        type="range"> -->
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
