@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$breakpoints: (
  'zr': 'screen and (min-width: 0px)',
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

* {
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    width: 100%;
    min-height: 100%;
    background: #eee;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
  }
  
  app-chatroom {
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);//93.5vh;
  }
  
  app-chat-form {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: none;
  }
  
  .message {
    display: block;
    height: auto;
  }